/* Global */

/*
	No font type seems to work in the app...
*/

@font-face {font-family: 'Insolent';src: url('../fonts/267FF6_1_0.eot');src: url('../fonts/267FF6_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/267FF6_1_0.woff') format('woff'),url('../fonts/267FF6_1_0.ttf') format('truetype');}


body {
margin: 0;
padding: 0;
color: white;
overflow-y: scroll;
}

.page-holder{
margin: 10px;
width: 400px;
margin: 10px 10px 10px 400px;
border-radius: 5px;
position: relative;
border: 1px solid rgb(202, 202, 202);
border-top-width: 0px;
box-shadow: 2px 1px 6px rgba(0,0,0, 0.4);
overflow: hidden;
padding: 10px;
color: #222;
background-color: #FFF;
font-family: arial;
}

.page{
display: none;
overflow: hidden;
}

.page-title {
font: 45px/41px Insolent, Arial, sans-serif;
letter-spacing: 0;
text-align: left;
margin: 16px;
color: rgb(235, 0, 0);
border-bottom: 1px solid rgb(65, 65, 213);
padding: 0 0 10px;
margin: 10px 0 10px;
text-transform: uppercase;
}

.page-title span{
font-size: 14px;
display: block;
line-height: 16px;
}

h2{
font-size: 14px;
}

/* break att 500px */
@media (max-width: 900px){
	.page-holder{
	margin: 0 auto;
	width: -webkit-calc(100% - 60px);
	min-width: 0;
	display: block;
	}
}
.page.active{
display: block;
}

.sp-primary {
font-family: Insolent;
border: none;
background-color: rgb(65, 65, 213);
padding: 3px 20px;
margin: 10px 0;
float: right;
display: block;
-webkit-transition: all 1s ease;
text-transform: lowercase;
color: white;
font-style: italic;
font-size: 12px;
letter-spacing: 3px;
position: relative;
}
.sp-primary:hover{
background-color: rgb(235, 0, 0);
}

/* Page 1 */

.drop-area{
width: 100%;
margin: 10px 0;
border: none;
height: 300px;
background-color: rgb(250, 250, 250);
border-radius: 5px;
resize: vertical;
padding: 10px;
font-style: italic;
color: rgba(51, 51, 51, 0.8);
}
.drop-area:focus{
outline: 0;
}
.help-section{
overflow: hidden;
}
.help-label, .help-input{
float: right;
font-style: normal;
text-transform: lowercase;
}

.help-label {
display: block;
font-size: 12px;
line-height: 20px;
}
.help-input {
-webkit-appearance: none;
width: 20px;
background-color: rgb(235, 0, 0);
height: 20px;
border-radius: 50%;
color: white;
position: relative;
-webkit-transition: all 1s ease;
margin: 0 0 0 5px;
}
.help-input:hover{
	background-color: rgb(65, 65, 213);
}
.help-input:after {
content: attr(data-icon);
display: block;
position: absolute;
height: 20px;
width: 20px;
text-align: center;
line-height: 20px;
-webkit-transition: all 1s ease;
}

.help-input:before{}
.help-copy {
height: 0;
overflow: hidden;
clear: both;
}
.help-input:checked ~ .help-copy{
height: auto;
}

/* Page 2 */
.playlist-view{
overflow: hidden;
margin: 10px 0;
}

/* UI background */
.cover-holder {
position: fixed;
left: 0;
top: 0;
line-height: 0;
-webkit-column-count: 3;
-webkit-column-gap: 0px;
width: 100%;
z-index: -1;
}

.cover-image {
width: 100%;
height: auto;
-webkit-filter: blur(2px);
}

